apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: optimizationrecommendations.k8so.vmware.com
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  labels:
  {{- include "k8s-optimization.labels" . | nindent 4 }}
spec:
  group: k8so.vmware.com
  names:
    categories:
    - recommendations
    kind: OptimizationRecommendation
    listKind: OptimizationRecommendationList
    plural: optimizationrecommendations
    singular: recommendation
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.targetRef.name
      name: Target
      type: string
    - jsonPath: .spec.containerRecommendations[0].name
      name: Container
      type: string
    - jsonPath: .spec.containerRecommendations[0].resources.requests['cpu']
      name: Rcmd CPU
      type: string
    - jsonPath: .spec.containerRecommendations[0].resources.requests['memory']
      name: Rcmd Mem
      type: string
    - jsonPath: .spec.replicasRecommendation
      name: Rcmd Replicas
      type: string
    - jsonPath: .spec.updateMode
      name: Update Mode
      type: string
    - jsonPath: .spec.manualChangeApproved
      name: Man Approved
      type: string
    - jsonPath: .spec.lastRecommendedTime
      name: Recommendation Updated At
      type: string
    - jsonPath: .status.updateStatus
      name: Update Status
      type: string
    - jsonPath: .status.details.targetResourceLastUpdatedTime
      name: Target Updated At
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OptimizationRecommendation is the Schema for the optimizationrecommendations
          API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: OptimizationRecommendationSpec defines the desired state of
              OptimizationRecommendation
            properties:
              containerRecommendations:
                description: Recommendations for containers that should be applied to
                  the target resource
                items:
                  properties:
                    name:
                      description: Container Name
                      type: string
                    resources:
                      description: Recommended ResourceRequirements describes the compute
                        resource requirements recommendation
                      properties:
                        limits:
                          additionalProperties:
                            anyOf:
                            - type: integer
                            - type: string
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                          description: 'Limits describes the maximum amount of compute
                            resources allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                          type: object
                        requests:
                          additionalProperties:
                            anyOf:
                            - type: integer
                            - type: string
                            pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                            x-kubernetes-int-or-string: true
                          description: 'Requests describes the minimum amount of compute
                            resources required. If Requests is omitted for a container,
                            it defaults to Limits if that is explicitly specified, otherwise
                            to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                          type: object
                      type: object
                  required:
                  - name
                  - resources
                  type: object
                type: array
              lastRecommendedTime:
                description: Most recent date and time that this recommendation was
                  created or updated
                format: date-time
                type: string
              manualChangeApproved:
                description: Indicates whether the recommendation has been manually
                  approved for application to the target resource
                enum:
                - false
                - true
                type: boolean
              replicasRecommendation:
                description: Recommendation for replicas that should be applied to the
                  target resource
                format: int32
                type: integer
              targetRef:
                description: TargetRef indicates the target resource for the recommendation
                properties:
                  apiVersion:
                    description: API version of the referent
                    type: string
                  kind:
                    description: 'Kind of the referent; More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds"'
                    type: string
                  name:
                    description: 'Name of the referent; More info: http://kubernetes.io/docs/user-guide/identifiers#names'
                    type: string
                  namespace:
                    description: Namespace in which the referent exists
                    type: string
                required:
                - kind
                - name
                type: object
              updateMode:
                description: UpdateMode (Auto, Manual, Default) refers to modes according
                  to which recommendation can take place. "Auto" indicates that the
                  recommendation will be made and applied automatically. "Manual" indicates
                  that recommendation will be made but not applied until it is manually
                  approved. "Default" indicates that the UpdateMode will be specified
                  in a separate settings CR.
                enum:
                - Default
                - Auto
                - Manual
                type: string
            required:
            - targetRef
            - updateMode
            type: object
          status:
            description: OptimizationRecommendationStatus describes the state of OptimizationRecommendation
            properties:
              details:
                description: Details about the application of the recommendation to
                  the target resource
                properties:
                  settingsUsedResourceVersion:
                    description: String that identifies the server's internal version
                      of the target resource that can be used to determine when objects
                      have changed.
                    type: string
                  targetResourceLastUpdatedTime:
                    description: Most recent date and time that the target resource
                      was updated
                    format: date-time
                    type: string
                  targetResourceVersion:
                    description: String that identifies the server's internal version
                      of the target resource that can be used to determine when objects
                      have changed.
                    type: string
                type: object
              updateStatus:
                description: The status of the most recent update
                enum:
                - Pending
                - AwaitingManualApproval
                - Done
                - TargetResourceMissing
                - Failed
                type: string
              updateStatusDescription:
                description: A description of the status of the most recent update
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []