# Copyright 2023 VMware, Inc.
# SPDX-License-Identifier: Apache-2.0

# Default values for cloudhealth-collector.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Set to automatically create secret, or create a secret with the name specified by the 'secretName' parameter
apiToken: ""

# Required value, to be uniquely specified per deployment:
clusterName: ""

# default value for Region
chtRegion: us-east-1

# The remaining are default values
collectionIntervalSecs: 900

# Adjust the DNS configuration for the pod(s)
# https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-config
dnsConfig: {}
  # Set to 1 in case the collector is unable to resolve the DNS to the collection API (e.g. at containers-api.edge.cloudhealthtech.com)
  # ndots: 1

jvmMemory: "-Xmx891M"

image:
  repository: cloudhealth/container-collector
  tag: "1361"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

secretName: cloudhealth-config

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# Custom labels to add to all resources created by this chart
customLabels: {}

deployAnnotations: {}

podAnnotations: {}

podSecurityContext: {
  runAsNonRoot: true
}

containerSecurityContext: {
  allowPrivilegeEscalation: false,
  readOnlyRootFilesystem: true,
  runAsNonRoot: true,
  capabilities: {drop: [all]}
}

service:
  type: ClusterIP
  port: 80

resources:
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 500m
    memory: 512Mi

liveness:
  initialDelaySeconds: 300
  failureThreshold: 3
  periodSeconds: 300

nodeSelector: {}

tolerations: []

affinity: {}

# Role-based Access Control
rbac:
  # Specifies whether RBAC resources should be created
  create: true

devArgs: |
  ['upload_k8s_state_v4', '--verbose']

customEnvVars: []
