# Copyright 2023 VMware, Inc.
# SPDX-License-Identifier: Apache-2.0

# Default values for cloudhealth-collector.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# Set to automatically create secret, or create a secret with the name specified by the 'secretName' parameter
apiToken: ""

# Required value, to be uniquely specified per deployment:
clusterName: ""

# default cloudhealth endpoint prefix
chtEndpointPrefix: use1

# The remaining are default values
collectionIntervalSecs: 900

# Adjust the DNS configuration for the pod(s)
# https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-s-dns-config
dnsConfig: {}
  # Set to 1 in case the collector is unable to resolve the DNS to the collection API (e.g. at containers-api.edge.cloudhealthtech.com)
  # ndots: 1

jvmMemory: "-Xmx891M"

image:
  repository: cloudhealth/container-collector
  tag: "1480"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

secretName: cloudhealth-config

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# Sets pod's priorityClassName
priorityClassName: ""

# Custom labels to add to all resources created by this chart
customLabels: {}

deployAnnotations: {}

podAnnotations: {}

podSecurityContext:
  runAsNonRoot: true

containerSecurityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  capabilities: 
    drop: [all]

# -- Run the collector on the host network
hostNetwork: false

proxy:
  sslCert: false
  #-Dhttps.proxyHost=$PROXY_SERVER -Dhttps.proxyPort=$PROXY_PORT -Dhttps.nonProxyHosts=kubernetes.default.svc -Djavax.net.ssl.trustStore=/etc/ssl/certs/truststore.jks -Djavax.net.ssl.trustStorePassword=changeit
  params: ""
  certPassword: ""
  caBundlePath: "/etc/ssl/certs/bundle.pem"
  truststorePath: "/etc/ssl/certs/truststore.jks"

resources:
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 500m
    memory: 512Mi

liveness:
  initialDelaySeconds: 300
  failureThreshold: 3
  periodSeconds: 300

nodeSelector: {}

tolerations: []

affinity: {}

devArgs: |
  ['upload_k8s_state_v4', '--verbose']

customEnvVars: []
