{{- /*
Copyright 2023 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/}}

{{- if .Values.apiToken }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cloudhealth-collector.secretName" . }}
  labels:
    {{- include "cloudhealth-collector.labels" . | nindent 4 }}
type: Opaque
data:
  apiToken:  {{ .Values.apiToken | b64enc | quote }}
  {{- if .Values.chOptimizer.enabled }}
  chapiToken:  {{ .Values.chOptimizer.chapiToken | b64enc | quote }}
  {{- end }}
{{- end }}